body{
    background-color: black;
    color: rgb(0, 255, 0);
}
.fa-solid{
color: rgb(0, 255, 0);
}
header{
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
    
}
header nav{
    display: flex;
    width: 50%;
    height: 70px;
    justify-content: space-around;
    align-items: center;
}