body{
    background-color: black;
    color: rgb(0, 255, 0);
}
.fa-solid{
color: rgb(0, 255, 0);
}
header{
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
    
}
header nav{
    display: flex;
    width: 50%;
    height: 70px;
    justify-content: space-around;
    align-items: center;
}
.About{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 50px;
    
}
.Projects{
    margin-top: 100px;
}
.project_box{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(31, 30, 30);
    border-radius: 10px;

    padding: 10px;
    border: 10px;
    margin: 10px;
}
.project_box div{
    margin: auto;
}
.project_img{
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}